<footer class="footer">
    <div class="container">
    <div class="small text-center">


      <p>
        <ul class="list-inline">
         <li class="fa fa-home " style="font-size: 16px; color:red;padding: 0 0 0 0">
         <a target='_blank' href='https://txchange.online' stype='padding: 0 2px 0 0'> Txchange |</a></li>
         <li class="fab fa-twitter " style="font-size: 16px; color:blue;padding: 0 0 0 0">
         <a target='_blank' href='https://www.twitter.com/txchange1' stype='padding: 0 2px 0 0'> Twitter |</a></li>
         <li class="fab fa-btc " style="font-size: 16px; color:blue;padding: 0 0 0 0">
         <a target='_blank' href='https://bitcointalk.com' stype='padding: 0 2px 0 0'> Bitcointalk |</a></li>
         <li class="fab fa-send " style="font-size: 16px; color:blue;padding: 0 0 0 0">
         <a target='_blank' href='https://t.me/txchange1' stype='padding: 0 2px 0 0'> Telegram |</a></li>
         <li class="fab fa-edit " style="font-size: 16px; color:blue;padding: 0 0 0 0">
         <a target='_blank' href='https://txchange.online' stype='padding: 0 2px 0 0'> Listing Request |</a></li>
         <li class="fab fa-edit " style="font-size: 16px; color:blue;padding: 0 0 0 0">
         <a target='_blank' href='https://txchange.online' stype='padding: 0 2px 0 0'> Listing Request |</a></li>
        </ul>
      </p>
    </div>
    <div class="clear-fix"></div>
  </div>
</footer>
